body{
    background-color: rgb(255, 251, 251);
}

h1{
    color: brown;
     font-size: 35px;
      text-align: center;
    }

h1:hover {
     color: rgb(12, 35, 110);
     size: 100px;

}
table{
    color: rgb(187, 8, 83);
}

img{
     border-radius: 100%;}

table{ 
    color: rgb(41, 6, 6);
    width: 500px;

}

.head{
    width: 100%;
    background-color: rgb(243, 242, 247);
    border: 1ch;
    height: 200;
}

.header{
    text-align: left ;
 
}

.center{
    text-align: center;
    background-color: rgba(214, 89, 72, 0.795);
    border: rgb(12, 35, 110);
}

.footer{
    text-align: center;
    color: rgb(14, 3, 32);
    background-color: rgb(243, 250, 250);
    width: 100%;

}
.intro{
    background-color: rgb(248, 244, 244);

    text-align: center;
    width: 100%;
    box-shadow: 10cm;

}

.height{
    color: rgb(255, 0, 0);
}

    